---
layout: default
title: Home
---
<main>
  <div class="container content">
    <div class="posts">
      {% for post in paginator.posts %}
        {% if post.archived != true %}
          <article class="index-post">    
            <time datetime="{{ post.date | date_to_xmlschema }}" class="index-post-date">{{ post.date | date_to_string }}</time>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
          </article>
        {% endif %}
      {% endfor %}
    </div>

    <div class="pagination">
      {% if paginator.next_page and paginator.previous_page %}
        {% if paginator.next_page %}
          <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        {% else %}
          <span class="pagination-item older">Older</span>
        {% endif %}
        {% if paginator.previous_page %}
          <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        {% else %}
          <span class="pagination-item newer">Newer</span>
        {% endif %}
      {% endif %}
    </div>
  </div>
</main>