// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #9a9a9a;
}

// Header image
.header-image {
  display: inline-block;
  position: relative;
  background-size: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.header-img {
  visibility: hidden;
  margin: 0 0 0 0;
} 

.header-title {
  position: absolute;
  width: 100%;
  text-align:center;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 6vw;
  padding-top: 15%;
  letter-spacing: 0.05em;
}