<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container content">
      {% if page.header-image %} <header class="masthead-no-margin">
      {% else %}<header class="masthead">{% endif %}
        <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>
              <a href="{{ site.baseurl }}/" title="blog">blog</a>
              <a href="{{ site.baseurl }}/photos/" title="photography">photography</a>
              <a href="{{ site.baseurl }}/about/" title="about">about</a>
            </small>
        </h3>
      </header>
    </div>
    
    {{ content }}

    <div class="container content">
      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
