<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead-no-margin">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ page.title }}</small>
        </h3>
      </header>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
    <script>
      assetsPath = "{{ page.assets-path }}"
      centerLat = "{{ page.center-lat }}"
      centerLng = "{{ page.center-lng }}"
    </script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/map/maptheme.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/map/mapdisplay.js"></script>
    <div id="map-canvas"></div>

  </body>
</html>